<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.289.2</version>
  <numExecutors>20</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:sogis-adm</permission>
    <permission>hudson.model.Computer.Build:sogis-adm</permission>
    <permission>hudson.model.Computer.Configure:sogis-adm</permission>
    <permission>hudson.model.Computer.Connect:sogis-adm</permission>
    <permission>hudson.model.Computer.Create:sogis-adm</permission>
    <permission>hudson.model.Computer.Delete:sogis-adm</permission>
    <permission>hudson.model.Computer.Disconnect:sogis-adm</permission>
    <permission>hudson.model.Hudson.Administer:sogis-adm</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:bjsvw</permission>
    <permission>hudson.model.Hudson.Read:sogis-adm</permission>
    <permission>hudson.model.Hudson.Read:sogis_service</permission>
    <permission>hudson.model.Item.Build:bjsvw</permission>
    <permission>hudson.model.Item.Build:sogis-adm</permission>
    <permission>hudson.model.Item.Build:sogis_service</permission>
    <permission>hudson.model.Item.Cancel:bjsvw</permission>
    <permission>hudson.model.Item.Cancel:sogis-adm</permission>
    <permission>hudson.model.Item.Cancel:sogis_service</permission>
    <permission>hudson.model.Item.Configure:sogis-adm</permission>
    <permission>hudson.model.Item.Create:sogis-adm</permission>
    <permission>hudson.model.Item.Delete:sogis-adm</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:sogis-adm</permission>
    <permission>hudson.model.Item.Move:sogis-adm</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:bjsvw</permission>
    <permission>hudson.model.Item.Read:sogis-adm</permission>
    <permission>hudson.model.Item.Read:sogis_service</permission>
    <permission>hudson.model.Item.Workspace:sogis-adm</permission>
    <permission>hudson.model.Run.Delete:sogis-adm</permission>
    <permission>hudson.model.Run.Replay:sogis-adm</permission>
    <permission>hudson.model.Run.Update:sogis-adm</permission>
    <permission>hudson.model.View.Configure:sogis-adm</permission>
    <permission>hudson.model.View.Create:sogis-adm</permission>
    <permission>hudson.model.View.Delete:sogis-adm</permission>
    <permission>hudson.model.View.Read:sogis-adm</permission>
    <permission>hudson.scm.SCM.Tag:sogis-adm</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:sogis-adm</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:sogis-adm</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm" plugin="ldap@2.7">
    <disableMailAddressResolver>false</disableMailAddressResolver>
    <configurations>
      <jenkins.security.plugins.ldap.LDAPConfiguration>
        <server>ldap.verw.rootso.org</server>
        <rootDN>dc=ldap,dc=rootso,dc=org</rootDN>
        <inhibitInferRootDN>false</inhibitInferRootDN>
        <userSearchBase></userSearchBase>
        <userSearch>uid={0}</userSearch>
        <groupMembershipStrategy class="jenkins.security.plugins.ldap.FromGroupSearchLDAPGroupMembershipStrategy">
          <filter></filter>
        </groupMembershipStrategy>
        <managerDN>uid=connect,ou=users,ou=management,dc=ldap,dc=rootso,dc=org</managerDN>
        <managerPasswordSecret>{AQAAABAAAAAg9N0zjT/QEolT8SLtuth26Ak9IYH7662/6VuNE4yEysCHLyZz3p32BzNXn+zL3tnk}</managerPasswordSecret>
        <displayNameAttributeName>displayname</displayNameAttributeName>
        <mailAddressAttributeName>mail</mailAddressAttributeName>
        <ignoreIfUnavailable>false</ignoreIfUnavailable>
      </jenkins.security.plugins.ldap.LDAPConfiguration>
    </configurations>
    <userIdStrategy class="jenkins.model.IdStrategy$CaseInsensitive"/>
    <groupIdStrategy class="jenkins.model.IdStrategy$CaseInsensitive"/>
    <disableRolePrefixing>false</disableRolePrefixing>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.30.5">
      <name>openshift</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>maven-38792b06dc6e0fac01ff6a8f21c1167e</id>
          <name>maven</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>maven</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeUsageMode>NORMAL</nodeUsageMode>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-maven-35-centos7:v4.0</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>nodejs-0fb902e934cd9ec277e6bf3c461adf74</id>
          <name>nodejs</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>nodejs</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeUsageMode>NORMAL</nodeUsageMode>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-nodejs-8-centos7:v4.0</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>custom-jenkins-slave-e52beca902b73c9e81bc10f70cfae013</id>
          <name>custom-jenkins-slave</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>custom-jenkins-slave</label>
          <serviceAccount>jenkins</serviceAccount>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker-registry.default.svc:5000/agi-apps-test/custom-jenkins-slave</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>custom-jenkins-slave:latest-e09bc4d48081c319a940e5f7d301ebbd</id>
          <name>custom-jenkins-slave.latest</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>custom-jenkins-slave:latest</label>
          <serviceAccount>jenkins</serviceAccount>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-slave-base-centos7@sha256:86db243d917e14dcd0abf0b47ceb2875fc01de338f13dfeed915bf03f9818259</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>evarga-jenkins-slave-84f2d5333bb5e84a3e412068efb353d3</id>
          <name>evarga-jenkins-slave</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>evarga-jenkins-slave</label>
          <serviceAccount>jenkins</serviceAccount>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker-registry.default.svc:5000/agi-apps-test/evarga-jenkins-slave</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>evarga-jenkins-slave:latest-0db2995c99a7d3417ab3d02a588405f1</id>
          <name>evarga-jenkins-slave.latest</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>evarga-jenkins-slave:latest</label>
          <serviceAccount>jenkins</serviceAccount>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>pfeimich/evarga-jenkins-slave@sha256:0acce51eb7290cc37658a497d17f56c8c503bce8e1e0299af244fbd25839918f</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>jenkins-slave-python-a9de90f7ffe192f61517439e06e8f786</id>
          <name>jenkins-slave-python</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>jenkins-slave-python</label>
          <serviceAccount>jenkins</serviceAccount>
          <hostNetwork>false</hostNetwork>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker-registry.default.svc:5000/agi-apps-test/jenkins-slave-python</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <id>config-generator-agent-91e78ef8dc3ba3facb2977ba0ac0773d</id>
          <name>config-generator-agent</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>4</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>600</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>config-generator-agent</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeUsageMode>NORMAL</nodeUsageMode>
          <hostNetwork>false</hostNetwork>
          <volumes>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
              <mountPath>/var/www/gdi-production</mountPath>
              <secretName>config-generator-agent-pg-service-gdi-production</secretName>
              <defaultMode></defaultMode>
              <optional>false</optional>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
              <mountPath>/var/www/gdi-integration</mountPath>
              <secretName>config-generator-agent-pg-service-gdi-integration</secretName>
              <defaultMode></defaultMode>
              <optional>false</optional>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
              <mountPath>/var/www/gdi-test</mountPath>
              <secretName>config-generator-agent-pg-service-gdi-test</secretName>
              <defaultMode></defaultMode>
              <optional>false</optional>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.SecretVolume>
            <org.csanchez.jenkins.plugins.kubernetes.volumes.PersistentVolumeClaim>
              <mountPath>/qgs-resources</mountPath>
              <claimName>qgs-resources-claim</claimName>
              <readOnly>false</readOnly>
            </org.csanchez.jenkins.plugins.kubernetes.volumes.PersistentVolumeClaim>
          </volumes>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker-registry.default.svc:5000/agi-apps-production/config-generator-agent:1.43</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu>250m</resourceRequestCpu>
              <resourceRequestMemory>1Gi</resourceRequestMemory>
              <resourceRequestEphemeralStorage></resourceRequestEphemeralStorage>
              <resourceLimitCpu>3000m</resourceLimitCpu>
              <resourceLimitMemory>8Gi</resourceLimitMemory>
              <resourceLimitEphemeralStorage></resourceLimitEphemeralStorage>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>http_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>https_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
            <org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
              <key>no_proxy</key>
              <value></value>
            </org.csanchez.jenkins.plugins.kubernetes.model.KeyValueEnvVar>
          </envVars>
          <annotations/>
          <imagePullSecrets/>
          <nodeProperties/>
          <yaml>
    apiVersion: v1
    kind: Pod
    spec:
      volumes:
        - name: pg-service-claim-production
          secret:
            defaultMode: 420
            items:
              - key: pg_service-gdi-production.conf
                path: pg_service-gdi-production.conf
            secretName: config-generator-agent-pg-service-gdi-production
        - name: pg-service-claim-integration
          secret:
            defaultMode: 420
            items:
              - key: pg_service-gdi-integration.conf
                path: pg_service-gdi-integration.conf
            secretName: config-generator-agent-pg-service-gdi-integration
        - name: pg-service-claim-test
          secret:
            defaultMode: 420
            items:
              - key: pg_service-gdi-test.conf
                path: pg_service-gdi-test.conf
            secretName: config-generator-agent-pg-service-gdi-test
  </yaml>
          <yamlMergeStrategy class="org.csanchez.jenkins.plugins.kubernetes.pod.yaml.Overrides"/>
          <showRawYaml>true</showRawYaml>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://api.ocp.so.ch:6443</serverUrl>
      <useJenkinsProxy>false</useJenkinsProxy>
      <serverCertificate>-----BEGIN CERTIFICATE-----
MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVu
c2hpZnQtc2lnbmVyQDE1MTI1NTAwNTkwHhcNMTcxMjA2MDg0NzM4WhcNMjIxMjA1
MDg0NzM5WjAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2lnbmVyQDE1MTI1NTAwNTkw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDcuFEyzY/D3LSDfI8ntBBJ
oC6laNy55y8N17CyE7lZqSfIEzpm0Li+8isPJuPIkA9e0VAf4kcjR5BLbzI6Y/rs
+rY0Oh5PXUdshqnu/NY57ylYMnNOd15f+rmdSG+7tekFJVJfxwvxvBzA4cCX074/
qpVKAiqPALzoPcb9spBqj6RbNeWgq3iOrqxlL1dUzXUqz9qScPrxeXpd0LP7mt38
Q8K5r0fNVm9EDVvBA8FVz4O6H2tJbvkwM1H4Wfoz9JLdhsM6dVQHGxwXAx9apbJD
fTKWt6A7k/D+vqXD6RC849ENGdNL8ES4yFnERAgx/uM8+rdDJGNnwbAoKCReQwaz
AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwICpDAPBgNVHRMBAf8EBTADAQH/MA0GCSqG
SIb3DQEBCwUAA4IBAQDQ4GorIMoM2AlWHHpB0NbEMXWBvqqSkzDwPRNiipVRHD5r
y1oegbzcW1oY1iJqfUVcbsp6dRE9oRoc95JiSRYozGUq40893GmxQBlAotyNy5A7
+ut92hvehwLzFj6I5LrKYJGUOtDvrdHKh+x/8K9qbtLj4bC41yxaCaWsJ4AC14Ks
tbso4dJNrZ6UIaq1Zt6et8VZbdjCd6RrAhQGMnRTiY55ONygtiNjAB0JIE47EGOx
E70/Ck6+K0tsU4wKPRzFmfvUrP/XZN4rD2Xz4nfproTs9zclnE4Ao4KOdKFkFrtu
aMklZKWAK1QMLlsLb4DCzs894EZRo4EFOX+KsBhL
-----END CERTIFICATE-----</serverCertificate>
      <skipTlsVerify>false</skipTlsVerify>
      <addMasterProxyEnvVars>true</addMasterProxyEnvVars>
      <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
      <namespace>agi-apps-production</namespace>
      <webSocket>false</webSocket>
      <directConnection>false</directConnection>
      <jenkinsUrl>http://jenkins:80</jenkinsUrl>
      <jenkinsTunnel>jenkins-jnlp.agi-apps-production.svc.cluster.local:50000</jenkinsTunnel>
      <containerCap>100</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>5</connectTimeout>
      <readTimeout>15</readTimeout>
      <podLabels>
        <org.csanchez.jenkins.plugins.kubernetes.PodLabel>
          <key>jenkins</key>
          <value>slave</value>
        </org.csanchez.jenkins.plugins.kubernetes.PodLabel>
      </podLabels>
      <usageRestricted>false</usageRestricted>
      <maxRequestsPerHost>32</maxRequestsPerHost>
      <waitForPodSec>600</waitForPodSec>
      <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>branch_webgisclient</string>
          <string>master</string>
          <string>JENKINS_SHARED_LIBS_BRANCH</string>
          <string>master</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>