<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.204.2</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>20</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:sogis-adm</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:sogis-adm</permission>
    <permission>hudson.model.Computer.Build:sogis-adm</permission>
    <permission>hudson.model.Computer.Configure:sogis-adm</permission>
    <permission>hudson.model.Computer.Connect:sogis-adm</permission>
    <permission>hudson.model.Computer.Create:sogis-adm</permission>
    <permission>hudson.model.Computer.Delete:sogis-adm</permission>
    <permission>hudson.model.Computer.Disconnect:sogis-adm</permission>
    <permission>hudson.model.Hudson.Administer:sogis-adm</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:bjsvw</permission>
    <permission>hudson.model.Hudson.Read:sogis-adm</permission>
    <permission>hudson.model.Hudson.Read:sogis_service</permission>
    <permission>hudson.model.Item.Build:bjsvw</permission>
    <permission>hudson.model.Item.Build:sogis-adm</permission>
    <permission>hudson.model.Item.Build:sogis_service</permission>
    <permission>hudson.model.Item.Cancel:bjsvw</permission>
    <permission>hudson.model.Item.Cancel:sogis-adm</permission>
    <permission>hudson.model.Item.Cancel:sogis_service</permission>
    <permission>hudson.model.Item.Configure:sogis-adm</permission>
    <permission>hudson.model.Item.Create:sogis-adm</permission>
    <permission>hudson.model.Item.Delete:sogis-adm</permission>
    <permission>hudson.model.Item.Discover:sogis-adm</permission>
    <permission>hudson.model.Item.Move:sogis-adm</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:bjsvw</permission>
    <permission>hudson.model.Item.Read:sogis-adm</permission>
    <permission>hudson.model.Item.Read:sogis_service</permission>
    <permission>hudson.model.Item.Workspace:sogis-adm</permission>
    <permission>hudson.model.Run.Delete:sogis-adm</permission>
    <permission>hudson.model.Run.Replay:sogis-adm</permission>
    <permission>hudson.model.Run.Update:sogis-adm</permission>
    <permission>hudson.model.View.Configure:sogis-adm</permission>
    <permission>hudson.model.View.Create:sogis-adm</permission>
    <permission>hudson.model.View.Delete:sogis-adm</permission>
    <permission>hudson.model.View.Read:sogis-adm</permission>
    <permission>hudson.scm.SCM.Tag:sogis-adm</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:sogis-adm</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:sogis-adm</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm" plugin="ldap@1.11">
    <server>ldap.verw.rootso.org</server>
    <rootDN>dc=ldap,dc=rootso,dc=org</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase></userSearchBase>
    <userSearch>uid={0}</userSearch>
    <groupMembershipStrategy class="jenkins.security.plugins.ldap.FromGroupSearchLDAPGroupMembershipStrategy">
      <filter></filter>
    </groupMembershipStrategy>
    <managerDN>uid=connect,ou=users,ou=management,dc=ldap,dc=rootso,dc=org</managerDN>
    <managerPasswordSecret>{AQAAABAAAAAgJXvTl0NTTtPasQSNONOD5DXwMzzJ0hDvoMzVrN1Zgr+cUMFUWJdB/G8+qrn9EOd1}</managerPasswordSecret>
    <disableMailAddressResolver>false</disableMailAddressResolver>
    <displayNameAttributeName>displayname</displayNameAttributeName>
    <mailAddressAttributeName>mail</mailAddressAttributeName>
    <userIdStrategy class="jenkins.model.IdStrategy$CaseInsensitive"/>
    <groupIdStrategy class="jenkins.model.IdStrategy$CaseInsensitive"/>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>branch_webgisclient</string>
          <string>set_branch_dynamic</string>
          <string>JENKINS_SHARED_LIBS_BRANCH</string>
          <string>master</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>
